[submodule "engine/classes/mws-film/film-reader-plugins"]
	path = engine/classes/mws-film/film-reader-plugins
	url = https://github.com/dlenettr/film-reader-plugins
[submodule "engine/classes/film-reader-plugins"]
	path = engine/classes/film-reader-plugins
	url = https://github.com/dlenettr/film-reader-plugins
[submodule "engine/classes/--name"]
	path = engine/classes/--name
	url = https://github.com/dlenettr/film-reader-plugins
[submodule "mws-film"]
	path = engine/classes/mws-film
	url = https://github.com/dlenettr/film-reader-plugins
